<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ocpay.wallet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowBackground="@mipmap/ic_splash"
            android:theme="@style/OSplashThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WalletCreateActivity"
            android:theme="@style/OThemeNoBar" />

        <activity android:name=".activities.ShareActivity" />
        <activity
            android:name=".activities.WalletImportActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.GatheringActivity"
            android:theme="@style/OThemeNoBar" />

        <activity
            android:name=".activities.QRReaderActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.SendActivity"
            android:theme="@style/OThemeNoBar" />


        <activity
            android:name=".activities.BackupMnemonicActivity"
            android:theme="@style/OThemeNoBar" />


        <activity
            android:name=".activities.WalletLoginActivity"
            android:theme="@style/OThemeNoBar" />

        <activity
            android:name=".activities.WalletManageActivity"
            android:theme="@style/OThemeNoBar" />

        <activity
            android:name=".activities.WalletDetailActivity"
            android:theme="@style/OThemeNoBar" />

        <activity
            android:name=".activities.WalletModifyPwdActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.TokenTransactionsActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.TransactionDetailActivity"
            android:theme="@style/OThemeNoBar" />


        <activity
            android:name=".activities.SimpleWebViewActivity"
            android:theme="@style/OThemeNoBar" />


        <activity
            android:name=".activities.NotificationActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.NotificationDetailActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.ContactsActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.ContactsCreateActivity"
            android:theme="@style/OThemeNoBar" />

        <activity
            android:name=".activities.AboutUsActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.SystemSettingsActivity"
            android:theme="@style/OThemeNoBar" />

        <activity
            android:name=".activities.LanguageActivity"
            android:theme="@style/OThemeNoBar" />
        <activity
            android:name=".activities.CurrencyUnitActivity"
            android:theme="@style/OThemeNoBar" />
        <!--<activity-->
        <!--android:name=".activities.AboutUsActivity"-->
        <!--android:theme="@style/OThemeNoBar" />-->


    </application>

</manifest>