<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.odwallet.rechage.dao.LogOperateApiMapper" >
  <resultMap id="BaseResultMap" type="com.odwallet.rechage.entity.LogOperateApi" >
    <id column="logid" property="logid" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="actpath" property="actpath" jdbcType="VARCHAR" />
    <result column="param" property="param" jdbcType="VARCHAR" />
    <result column="seed" property="seed" jdbcType="VARCHAR" />
    <result column="consumetime" property="consumetime" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    logid, merchant_id, actpath, param, seed, consumetime, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.odwallet.rechage.entity.LogOperateApiExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from log_operate_api
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log_operate_api
    where logid = #{logid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log_operate_api
    where logid = #{logid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.odwallet.rechage.entity.LogOperateApiExample" >
    delete from log_operate_api
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.odwallet.rechage.entity.LogOperateApi" >
    insert into log_operate_api (logid, merchant_id, actpath, 
      param, seed, consumetime,
      createtime)
    values (#{logid,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{actpath,jdbcType=VARCHAR}, 
      #{in,jdbcType=VARCHAR}, #{seed,jdbcType=VARCHAR}, #{consumetime,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.odwallet.rechage.entity.LogOperateApi" >
    insert into log_operate_api
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        logid,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="actpath != null" >
        actpath,
      </if>
      <if test="param != null" >
        param,
      </if>
      <if test="seed != null" >
        seed,
      </if>
      <if test="consumetime != null" >
        consumetime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        #{logid,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="actpath != null" >
        #{actpath,jdbcType=VARCHAR},
      </if>
      <if test="param != null" >
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="seed != null" >
        #{seed,jdbcType=VARCHAR},
      </if>
      <if test="consumetime != null" >
        #{consumetime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.odwallet.rechage.entity.LogOperateApiExample" resultType="java.lang.Integer" >
    select count(*) from log_operate_api
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update log_operate_api
    <set >
      <if test="record.logid != null" >
        logid = #{record.logid,jdbcType=INTEGER},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=INTEGER},
      </if>
      <if test="record.actpath != null" >
        actpath = #{record.actpath,jdbcType=VARCHAR},
      </if>
      <if test="record.param != null" >
        in = #{record.param,jdbcType=VARCHAR},
      </if>
      <if test="record.seed != null" >
        seed = #{record.seed,jdbcType=VARCHAR},
      </if>
      <if test="record.consumetime != null" >
        consumetime = #{record.consumetime,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update log_operate_api
    set logid = #{record.logid,jdbcType=INTEGER},
      merchant_id = #{record.merchantId,jdbcType=INTEGER},
      actpath = #{record.actpath,jdbcType=VARCHAR},
      param = #{record.param,jdbcType=VARCHAR},
      seed = #{record.seed,jdbcType=VARCHAR},
      consumetime = #{record.consumetime,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.odwallet.rechage.entity.LogOperateApi" >
    update log_operate_api
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="actpath != null" >
        actpath = #{actpath,jdbcType=VARCHAR},
      </if>
      <if test="in != null" >
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="seed != null" >
        seed = #{seed,jdbcType=VARCHAR},
      </if>
      <if test="consumetime != null" >
        consumetime = #{consumetime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where logid = #{logid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.odwallet.rechage.entity.LogOperateApi" >
    update log_operate_api
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      actpath = #{actpath,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      seed = #{seed,jdbcType=VARCHAR},
      consumetime = #{consumetime,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where logid = #{logid,jdbcType=INTEGER}
  </update>
</mapper>